body {
    background: linear-gradient(90deg, #B22222 0%,#FBDB48 100% );
}
.collection.with-header .collection-item {
    padding-left: 30px;
    background-color: lightgrey;
}
ul:not(.browser-default)>li {
    list-style-type: none;
    font-size: large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
nav .brand-logo.center {
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    font-family: Georgia, 'Times New Roman', Times, serif;
}